@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0.7rem);
    }
}

.header__logo{
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary__main {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
        
}
    
.heading-primary__sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;

    animation: moveInRight 1s ease-out;
}

@media screen and (min-width: 780px){
    .header__logo{
        margin-top: 4rem;
    }
}